.list-group-item {
	margin: 15px auto;
	padding: 20px;
}

.list-group {
	margin-top: -30px;
}

.header{
	margin-bottom: -30px;
}

.row{
	padding-right: 20px;
	padding-left: 20px;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  text-align: center;
}

.jumbotron {
  margin: 80px auto;
  background: #ffffff;
  padding: 30px;
}

.sub-btn{
	margin: 10px auto;
}