.list-group-item {
	margin: 15px auto;
	padding: 15px;
}

.list-group {
	margin-top: -30px;
}

.panel-group {
	margin-top: -30px;
}

.panel-heading {
	padding: 15px;
}

.header{
	margin-bottom: -30px;
}

.row{
	padding-right: 20px;
	padding-left: 20px;
}

a, a:hover, a:focus {
	color: #646464;
	text-decoration: none !important;
}

a:hover > .panel-heading {
	background: rgb(189, 189, 189);
	color: white;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  text-align: center;
}

label {
	cursor: pointer;
}

.list-group input[type="radio"] {
	display: none;
}

.list-group input[type="radio"]:checked + label{
	background: #BCBAF2;
}

.jumbotron {
  margin: 80px auto;
  background: #ffffff;
  padding: 30px;
}

.sub-btn{
	margin: 10px auto;
}