{% extends "admin_base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<h1 class="page-header">Dashboard - {{section}}</h1>
<h4 class="form-signin-heading">Add students to the section below:</h4>
  <form class="form-horizontal" id="form" method="post" style="margin-top: 40px;text-align: center;" action="/addStudent">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" required="true" autofocus>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
<h4 class="sub-header">Students already enrolled {% if students -%} ({{students|length}}) {%- endif -%}:</h4>
{% if students %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Alias</th>
                <th>Group</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{student.email}}</td>
                <td>{{student.alias}}</td>
                <td>{% if student.group == 0 %} NA {% else %} {{student.group}} {% endif %}</td>
                <td><button class="btn btn-danger btn-sm" onclick="deleteStudent('{{student.email}}')">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No students enrolled.</p>
{% endif %}
{% endblock %}

{% block script %}
<script>
  $("#form").submit(function (event) {
        //Prevent the default behaviour
        event.preventDefault();

        //collect form elements
        var $form = $(this),
        email = $form.find("input[name='email']").val(),
        class2 = "{{section}}",
        url = $form.attr("action");

        var emails = email.replace(/ /g,'').split(',');

        bootbox.confirm("Are you sure, you want to add "+emails.length+" student(s)?", function (result) {
            if(result) {
                // do the POST and get the callback
                $.post(url,{emails:JSON.stringify(emails), class:class2},function (data) {
                    bootbox.alert(data+" student(s) have been added for "+ class2, function() {
                        location.reload();
                    });
                });
            }
        });
      });

    function deleteStudent(student) {
        bootbox.confirm("Are you sure, you want to remove student: "+student+"?", function (result) {
           if (result) {
                // do the POST and get the callback
                $.post("/removeStudent",{email:student},function (data) {
                    bootbox.alert(data, function() {
                        location.reload();
                    });
                });
           }
        });
    }
</script>
{% endblock %}