<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discussions</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/discussion.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Consider</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Round 1</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div id="count-container" class="alert alert-warning col-md-6"><p>Time left to complete: {% if expired -%} Time is over {%- else -%} <span id="countdown"> </span> {%- endif -%}</p></div>
        <a class="btn btn-warning sign-out-btn col-md-2 col-md-offset-4" href="{{url}}">
       <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out
        </a>
      </div>
      <h1 class="well lead">Welcome {{alias}}</h1>
      {% for comment in comments %}
      <div class="jumbotron" id="jum_{{loop.index}}">
        <h2>{{comment.alias}}</h2>
        <p>{{comment.response}}</p>
        <button type="button" id="sup_{{loop.index}}" onclick="updateAlert(this)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Support</button>
        <button type="button" id="neu_{{loop.index}}" onclick="updateAlert(this)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Neutral</button>
        <button type="button" id="dis_{{loop.index}}" onclick="updateAlert(this)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Disagree</button>
      </div>
      {% endfor %}
        <div id="alert_comment" class="alert alert-warning fade in" style="display: none;">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>Be sure to include...</h4>
            {% for comment in comments %}
            <p id="alert_{{loop.index}}"></p>
            {% endfor %}
        </div>
      <form>
        <textarea class="form-control" rows="5" id="comment" placeholder="Please enter why you support or disagree with the comments..." required {% if expired -%} disabled="true" {%- endif -%}>
        {%- if comment -%}{{comment}}
        {%- endif -%}
        </textarea>
        <button type="submit" id="submit" class="btn btn-lg btn-success" {% if expired -%} disabled="true" {%- endif -%}><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit</button>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script type="text/javascript">
      var clock = document.getElementById("countdown");
      targetDate = new Date("{{deadline}}");
      clock.innerHTML = countdown(targetDate).toString();
      setInterval(function(){
          clock.innerHTML = countdown(targetDate).toString();
        }, 1000);

      $('.alert .close').on('click', function(e) {
          $(this).parent().hide();
      });

      function updateAlert(obj) {
          var type = obj.id.substring(0, 3);
          var index = obj.id.substring(4);
          if (type == "sup") {
              $("#jum_"+index).removeClass().addClass('jumbotron').addClass('support');
              $("#alert_"+index).html("Why you Support S"+index+"?");
              $("#alert_comment").show();
          }
          else if(type == "neu") {
              $("#jum_"+index).removeClass().addClass('jumbotron').addClass('neutral');
              $("#alert_"+index).html("You are neutral with S"+index+"...");
              $("#alert_comment").show();
          }
          else {
              $("#jum_"+index).removeClass().addClass('jumbotron').addClass('disagree');
              $("#alert_"+index).html("Why you Disagree with S"+index+"?");
              $("#alert_comment").show();
          }
      }
    </script>   
  </body>
</html>