<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consider home</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/dots.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="spinner" class="dots">
        Loading...
    </div>
    <div class="container">
        <div class="row">
            <div id="count-container" class="alert alert-warning col-md-6"><p>Time left to complete: {% if expired -%} Time is over {%- else -%} <span id="countdown"> </span> {%- endif -%}</p></div>
            <a class="btn btn-warning sign-out-btn col-md-2 col-md-offset-4" href="{{url}}">
             <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out
            </a>
        </div>
        {%- if last_round -%}<div class="row"><a class="btn btn-primary col-md-4" style="margin-top: 10px;" href="/discussion?section={{sectionKey}}" target="_blank"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Go to Discussions</a></div> {%- endif -%}
        <div class="header">
            <h3 class="text-muted">{%- if last_round -%}Post Discussion Question{%- endif -%}</h3>
        </div>
        <div class="jumbotron">
            <p> {{question}} </p>
        </div>
        <form id="form" method="post" {% if not expired -%} action="/submitResponse" {%- endif -%}>
            <div class="list-group">
                {% for option in options %}
                <input type="radio" name="optionsRadios" id="option{{loop.index}}" value="option{{loop.index}}" {% if expired -%} disabled="true" {%- endif -%}>
                <label class="radio list-group-item" for="option{{loop.index}}">
                    {{option}}
                </label>
                {% endfor %}
            </div>
            <textarea class="form-control" rows="3" id="comment" placeholder="Please enter why you support this option..." required {% if expired -%} disabled="true" {%- endif -%}>
            {%- if comment -%}{{comment}}
            {%- endif -%}
            </textarea>
            <button type="submit" class="btn btn-lg btn-success sub-btn" {% if expired -%} disabled="true" {%- endif -%}><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit</button>
        </form>
    </div>
    {%- if last_round -%}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please provide a brief summary... </h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" id="modalForm" method="post" style="text-align: center;" action="/submitResponse">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea class="form-control" rows="10" id="inputSummary" name="summary" placeholder="Your summary..." required>{{summary}}</textarea>
                  </div>
                </div>
                <button type="submit" class="hide"></button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submitSummary()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
    <script type="text/javascript">
        jQuery.ajaxSetup({
            beforeSend: function() {
             $('#spinner').show();
            },
            complete: function(){
             $('#spinner').hide();
            },
            success: function() {}
        });

        $(window).load(function() {
	        $("#spinner").fadeOut("slow");
        });

    {%- if option -%}
        $("#{{option}}").prop("checked",true);
    {%- endif -%}

    {% if not expired -%}

        var clock = document.getElementById("countdown");
	    targetDate = new Date("{{deadline}}Z");
	    clock.innerHTML = countdown(targetDate).toString();
	    setInterval(function(){
	    		clock.innerHTML = countdown(targetDate).toString();
	  		}, 1000);

        var radio, comment;

    {% if last_round %}
        function submitSummary() {
            $("#modalForm").find('[type="submit"]').trigger('click');
        }

        $("#modalForm").submit(function (event){
            //Prevent the default behaviour
            event.preventDefault();

            //collect form elements
            var $form = $(this);
            var summary = $form.find("textarea").val();
            var url = $form.attr("action");
            $.post(url, {option:radio, comm:comment, summary:summary, section:'{{sectionKey}}'}, function (data) {
                bootbox.alert(data,function(){
                    ocomment = comment;
                    location.reload();
                });
            });
        });
    {% endif %}

	    $("#form").submit(function (event){
	    	//Prevent the default behaviour
	        event.preventDefault();

	        //collect form elements
	        var $form = $(this);

	        if ($form.find("input:radio[name='optionsRadios']:checked").val() === undefined) {
	        	bootbox.alert("Please select one of the options");
	        }
	        else {
	        	radio = $form.find("input:radio[name='optionsRadios']:checked").val();
	        	comment = $form.find("textarea").val();
	        	var url = $form.attr("action");
                {% if last_round %}
                    $('#myModal').modal('show');
                {% else %}
	        	$.post(url,{option:radio, comm:comment, section:'{{sectionKey}}'},function (data) {
		        	bootbox.alert(data,function(){
                        ocomment = comment;
                    });
		        });
                {% endif %}
	        }
	    });

        var ocomment = $("#comment").val();

        $(window).bind('beforeunload', function() {
            if ($('#comment').val() !== ocomment) {
                return "It looks like you have input you haven't submitted.";
            }
        });
	   {%- endif -%}
    </script>
  </body>
</html>
