{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/css/admin.css" rel="stylesheet">
{% endblock head %}

{% set show_sidenavbar = True %}

{% block topnavbar %}
<li><a href="/home">Courses</a></li>
<li><a href="/students">Students</a></li>
<li><a href="/rounds">Rounds</a></li>
<li><a href="/groups">Groups</a></li>
<li><a href="/responses">Responses</a></li>
<li><a href="/group_responses">Group Responses</a></li>
{% endblock topnavbar %}

{#
{% block sidenavbar %}
<ul class="nav nav-sidebar">
    <li><a href="/home">Courses</a></li>
    <li><a href="/students">Students</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/rounds">Rounds</a></li>
    <li><a href="/groups">Groups</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/responses">Responses</a></li>
    <li><a href="/group_responses">Group Responses</a></li>
</ul>
{% endblock sidenavbar %}
#}


{% block sidenavbar %}
<ul class="nav nav-sidebar">
    <li><a href="/home">Courses</a></li>
    <li><a href="/students">Students</a></li>
    <li role="separator" class="divider" style="height: 3px;"></li>
    <li><a href="/rounds">Rounds</a></li>
    <li><a href="/groups">Groups</a></li>
    <li role="separator" class="divider" style="height: 3px;"></li>
    <li><a href="/responses">Responses</a></li>
    <li><a href="/group_responses">Group Responses</a></li>
</ul>
{% endblock sidenavbar %}
