{% extends "student_base.html" %}

{% block title %}| Rounds{% endblock %}

{% set type_discussion = True %}

{% block head %}
{{ super() }}
<link href="/css/discussion.css" rel="stylesheet">
{% endblock head %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div id="count-container" class="alert alert-warning col-md-12">
            <p>Time left to complete: {% if expired -%} Time
            is over {%- else -%} <span id="countdown"></span> {%- endif -%}</p>
        </div>
    </div>
    <h1 class="lead">Welcome {{alias}}</h1>
    {% if description %}
    <h1 class="well lead" style="font-size: 1.5em !important; white-space: pre-wrap; text-align: left">{{description}}</h1>
    {% endif %}
    {% for comment in comments %}
    <div class="jumbotron" id="jum_{{loop.index}}">
        <h2>{{comment.alias}} {% if show_name -%} ({{comment.email}}) {%- endif -%}</h2>
        {% if comment.option %}
        <span class="alert alert-info" style="padding: 3px;display: inline-block;margin-bottom: 5px;">Option selected: {{comment.option}}</span>
        {% endif %}
        {% for opinion in comment.opinion %}
        <span class="badge"
              style="font-weight: 100; background-color: #110F80; margin-bottom: 10px">S{{loop.index}}:
            <span
                class="glyphicon glyphicon-{%- if opinion == 'support' -%}thumbs-up{%- elif opinion == 'neutral' -%}hand-right{%- else -%}thumbs-down{%- endif -%}"
                aria-hidden="true"></span>
        </span>
        {% endfor %}
        <div class="well"
             style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2em;font-weight: 300; white-space: pre-wrap; margin-bottom: 10px">
            {{comment.response}}
        </div>
        <button type="button" id="sup_{{loop.index}}" onclick="updateAlert(this)" class="btn btn-sm btn-success" {% if
                expired -%} disabled="true" {%- endif -%}>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Support
        </button>
        <button type="button" id="neu_{{loop.index}}" onclick="updateAlert(this)" class="btn btn-sm btn-info" {% if
                expired -%} disabled="true" {%- endif -%}><span class="glyphicon glyphicon-hand-right"
                                                                aria-hidden="true"></span> Neutral
        </button>
        <button type="button" id="dis_{{loop.index}}" onclick="updateAlert(this)" class="btn btn-sm btn-danger" {% if
                expired -%} disabled="true" {%- endif -%}><span class="glyphicon glyphicon-thumbs-down"
                                                                aria-hidden="true"></span> Disagree
        </button>
    </div>
    {% endfor %}
    {% if not expired -%}
    <div id="alert_comment" class="alert alert-info fade in" role="alert" style="display: none;">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Be sure to explain, in the box below...</h4>
        {% for comment in comments %}
        <p id="alert_{{loop.index}}"></p>
        {% endfor %}
    </div>
    {% endif %}
    <form id="form" method="post" {% if not expired -%} action="/student_rounds" {%- endif -%}>
        <textarea class="form-control" rows="5" id="comment"
                  placeholder="Please enter why you support or disagree with the comments..." required {% if expired -%}
                  disabled="true" {%- endif -%}>
        {%- if comment -%}
            {{comment}}
        {%- endif -%}
        </textarea>
        <button type="submit" id="submit" class="btn btn-lg btn-success" {% if expired -%} disabled="true" {%- endif
                -%}><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit
        </button>
    </form>
</div>
{% endblock content %}

{% block script %}
{{ super() }}
<script src="/js/countdown.min.js"></script>
<script type="text/javascript">
    var l = {{comments | length}}
    var resp = [];
    resp[0] = null;

    {% if response %}
    resp = resp.concat('{{response}}'.split(','));
    window.onload = initComments;
    {% endif %}

    function initComments() {
        for (var i = 1; i <= l; i++) {
            if (resp[i] == "support") {
                $("#jum_" + i).removeClass().addClass('jumbotron').addClass('support');
            }
            else if (resp[i] == "neutral") {
                $("#jum_" + i).removeClass().addClass('jumbotron').addClass('neutral');
            }
            else {
                $("#jum_" + i).removeClass().addClass('jumbotron').addClass('disagree');
            }
        }
    }

    {%- if not expired -%}
//    var clock = document.getElementById("countdown");
//    targetDate = new Date("{{deadline}}Z");
//    clock.innerHTML = countdown(targetDate).toString();
//    setInterval(function () {
//        clock.innerHTML = countdown(targetDate).toString();
//    }, 1000);

    $('.alert .close').on('click', function (e) {
        $(this).parent().hide();
    });

    $("#form").submit(function (event) {
        //Prevent the default behaviour
        event.preventDefault();

        //collect form elements
        if (!selAll()) {
            bootbox.alert('Please choose your opinion for all the comments.');
        }
        else {
            var $form = $(this);
            var comment = $form.find("textarea").val();
            var url = $form.attr("action");
            $.post(url, {comm: comment, response: JSON.stringify(resp), section: '{{sectionKey}}'}, function (data) {
                bootbox.alert(data, function () {
                    ocomment = comment;
                });
            });
        }
    });

    function selAll() {
        for (var i = 1; i <= l; i++) {
            if (!resp[i]) return false;
        }
        return true;
    }

    function updateAlert(obj) {
        var type = obj.id.substring(0, 3);
        var index = obj.id.substring(4);
        if (type == "sup") {
            $("#jum_" + index).removeClass().addClass('jumbotron').addClass('support');
            $("#alert_" + index).html("Why you Support S" + index + "?");
            resp[index] = 'support';
            $("#alert_comment").show();
        }
        else if (type == "neu") {
            $("#jum_" + index).removeClass().addClass('jumbotron').addClass('neutral');
            $("#alert_" + index).html("You are neutral with S" + index + "...");
            resp[index] = 'neutral';
            $("#alert_comment").show();
        }
        else {
            $("#jum_" + index).removeClass().addClass('jumbotron').addClass('disagree');
            $("#alert_" + index).html("Why you Disagree with S" + index + "?");
            resp[index] = 'disagree';
            $("#alert_comment").show();
        }
    }

    var ocomment = $('#comment').val();

    $(window).bind('beforeunload', function () {
        if ($('#comment').val() !== ocomment) {
            return "It looks like you have input you haven't submitted.";
        }
    });
    {% endif %}
</script>
{% endblock script %}
