{% extends "student_base.html" %}

{% block title %}| Rounds{% endblock %}

{% block head %}
{{ super() }}
<link href="/css/discussion.css" rel="stylesheet">
{% endblock head %}

{% block content %}
{{ super() }}

	<div class="container">
		<div id="count-container" class="alert alert-warning col-md-12">
            <p>Time left to complete: {% if expired -%} Time is over {%- else -%} <span id="countdown"></span> {%- endif -%}</p>
        </div>

		<div class="jumbotron">
            <p> {{question}} </p>
        </div>

        <div class="list-group">
			{% for option in options %}
				<input type="radio" name="optionsRadios" id="option{{loop.index}}" value="option{{loop.index}}" {% if expired -%} disabled="true" {%- endif -%}>
                <label class="radio list-group-item" for="option{{loop.index}}">
                    {{option}}
                </label>
                {% endfor %}
		</div>
	 </div>

{% endblock content %}
