{% extends "base.html" %}

{% block head %}
{{super()}}
{% endblock %}

{% set show_sidenavbar = False %}

{% block topnavbar %}
{{ super() }}
{% for i in range(0,rounds) %}
<li>
    <a href="/student_rounds?section={{sectionKey}}&round={{i+1}}">Round {{i+1}}</a>
</li>
{% endfor %}
{% endblock topnavbar %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="count-container" class="alert alert-warning">
            <p>
                {% if expired -%} Time is over {%- else -%} Time left to complete: <span id="countdown"> </span> {%-
                endif -%}
            </p>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% if not expired -%}
<script src="/js/countdown.min.js"></script>

<script>
    var clock = document.getElementById("countdown");
    targetDate = new Date("{{deadline}}Z");
    console.log("targetDate = " + targetDate);
    clock.innerHTML = countdown(targetDate).toString();
    setInterval(function () {
        clock.innerHTML = countdown(targetDate).toString();
    }, 1000);
</script>
{% endif %}
{% endblock script %}