{% extends 'layouts/base.html' %}

{% block title %}| Activity Log{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/students/activitylog.js"></script>
{{ super() }}
{% endblock head %}

{% block content %}
{{ super() }}
    <div class="container" id='pageContent'>
        <div class="card">
            <div class="card-title">
                <h2>Activity Log</h2>
            </div>
            <div class="card-body">

                <!-- TODO: activity log here -->

            </div>
        </div>
    </div>
{% endblock %}