{% extends "layouts/student_base.html" %}

{% block title %}| Rounds{% endblock %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta id="student-discussion" data-expired="{{expired}}" data-numComments="{{comments | length}}" data-response="{{response}}" data-sectionKey="{{sectionKey}}" data-page="{{ curr_page-2 }}">
<script type="text/javascript" src="/js/students/discussion.js"></script>
{{ super() }}
<script src="/ckeditor/ckeditor.js"></script>
{% endblock head %}

{% block content %}
{{ super() }}
{%- if response -%}
    {% set opinions = response.split(',') %}
{%- else -%}
    {% set opinions = [] %}
{%- endif -%}
<div class="container discussion-container" id='pageContent'>

    <div class="card discussion-card">
    <div class="card-title support">
        <h2>{{ round_names[curr_page-1] }}</h2>
    </div>
    <div class="card-body">
    {% if description %}
        <h1 class="well lead" style="font-size: 1.5em !important; text-align: left">{{description}}</h1>
    {% else %}
        <div class="collapsible-prompt collapsed" id="initialPrompt">
            <div class="prompt-head" onClick="collapse_prompt()"><strong>Question</strong> (click to show)</div>
            <div class="prompt-body">{{ prompt }}</div>
        </div>
    {% endif %}
    {% for comment in comments %}
        <div class="card response-card{%- if opinions[loop.index - 1] -%}{{" " + opinions[loop.index - 1]}}{%- endif -%}">
            <div class="card-title">
                <div class="row">
                    <div class="col-sm-8 col-xs-6">
                        <h4>{% if show_name -%} {{comment.email}} {%- else -%}{{comment.alias}}{%- endif -%} {%- if alias == comment.alias -%}&nbsp;(You) {%- endif -%}</h4>
                    </div>
                    <div class="col-sm-4 col-xs-6 text-right">
                        {% for (key, value) in comment.thumbs %}
                            {%  if expired %}
                            <span class="badge">{{ key }}: <span
                                    class="glyphicon glyphicon-{%- if value == 1 -%}thumbs-up{%- elif value == 0 -%}question-sign{%- else -%}thumbs-down{%- endif -%}"
                                    aria-hidden="true"></span></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card-body">
            <div class="row">
            <div class="student-response col-sm-8">
                {{ comment.response|safe }}
            </div>
            {%- if not expired and comment.response -%}
                <div class="text-right col-sm-4">
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Did not understand some key points" id="neu_{{loop.index}}" onclick="updateAlert(this,'{{comment.email}}',0)" class="btn btn-sm btn-neutral" {% if
                            expired -%} disabled="true" {%- endif -%}>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                    <button type="button" data-toggle="tooltip" title="Disagree with at least one key point" id="dis_{{loop.index}}" onclick="updateAlert(this,'{{comment.email}}',-1)" class="btn btn-sm btn-danger" {% if
                            expired -%} disabled="true" {%- endif -%}>
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </button>

                    <button type="button" data-toggle="tooltip" title="Agree with ALL key points" id="sup_{{loop.index}}" onclick="updateAlert(this,'{{comment.email}}',1)" class="btn btn-sm btn-success" {% if
                            expired -%} disabled="true" {%- endif -%}>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                </div>
            {%- endif -%}
            {% if comment.option %}
            <div class="student-response col-sm-4">
                <span class="response-option">Option selected: {{comment.option}}</span>
            </div>
            {% endif %}
        </div>
        </div>
    </div>
    {% endfor %}
    {% if did_not_participate %}
    <div class="nonparticipant">
        <strong>These students did not participate in the last round:</strong>
        {% for name in did_not_participate %}
            <p>{{ name }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
</div>

<!-- end #pageContent -->
{#</div>#}

{%- if not expired -%}
<!-- fixed position discussion response text editor -->
<div class="container-fluid navbar-fixed-bottom" id="discussion-response">
  <div class="container">
    <div class="row">

        <form id="form" method="post" {% if not expired -%} action="/student_rounds" {%- endif -%}>
          <div class="col-md-11">
            <div id="text-editor">

                <textarea class="form-control" rows="5" id="comment"
                          placeholder="Please enter why you support or disagree with the comments..." required {% if expired -%}
                          disabled="true" {%- endif -%}>
                {%- if comment -%}
                    {{comment}}
                {%- endif -%}
                </textarea>
            </div>

            <!-- replace plain textarea with CKEditor WYSIWYG -->
            <script type="text/javascript" src="/js/students/discussion_editor_replace.js"></script>

        </div>
        <div class="col-md-1">
          <button type="submit" id="submit" class="btn btn-lg btn-success btn-success-submit" {% if expired -%} disabled="true" {%- endif
                  -%}><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                  <br />
                  Submit
          </button>
        </div>
        </form>

  </div>
</div>
</div>
{%- endif -%}
{% endblock content %}
