{% extends "layouts/student_base.html" %}

{% block title %}| Rounds{% endblock %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta id="student-discussion" data-expired="{{expired}}" data-numComments="{{comments | length}}" data-response="{{response}}" data-sectionKey="{{sectionKey}}" data-page="{{ curr_page-2 }}">
<script type="text/javascript" src="/js/students/discussion.js"></script>
{{ super() }}
<script src="/ckeditor/ckeditor.js"></script>
{% endblock head %}

{% block content %}
{{ super() }}
{%- if response -%}
    {% set opinions = response.split(',') %}
{%- else -%}
    {% set opinions = [] %}
{%- endif -%}
<div class="container discussion-container" id='pageContent'>

    <div class="card">
    <div class="card-title">
        <h2>{{ round_names[curr_page-1] }}
            &gt; Welcome {{alias}}
        </h2>
    </div>
    <div class="card-body">
    {% if description %}
        <h1 class="well lead" style="font-size: 1.5em !important; text-align: left">{{description}}</h1>
    {% endif %}
    {% for comment in comments %}
        <div class="jumbotron{%- if opinions[loop.index - 1] -%}{{" " + opinions[loop.index - 1]}}{%- endif -%}" id="jum_{{loop.index}}">
            <div class="row card-header">
                <div class="col-md-6">
                    <h2>{% if show_name -%} {{comment.email}} {%- else -%}{{comment.alias}}{%- endif -%} {%- if alias == comment.alias -%}&nbsp;(You) {%- endif -%}</h2>
                </div>

                {%- if not expired and comment.response -%}
                <div class="col-md-12">
                <button type="button" data-toggle="tooltip" title="Neutral" id="neu_{{loop.index}}" onclick="updateAlert(this,'{{comment.email}}',0)" class="pull-right btn btn-sm btn-info" {% if
                            expired -%} disabled="true" {%- endif -%}>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Did not understand some key points
                    </button>
                    <button type="button" data-toggle="tooltip" title="Disagree" id="dis_{{loop.index}}" onclick="updateAlert(this,'{{comment.email}}',-1)" class="pull-right btn btn-sm btn-danger" {% if
                            expired -%} disabled="true" {%- endif -%}>
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Disagree with at least one key point
                    </button>

                    <button type="button" data-toggle="tooltip" title="Support" id="sup_{{loop.index}}" onclick="updateAlert(this,'{{comment.email}}',1)" class="pull-right btn btn-sm btn-success" {% if
                            expired -%} disabled="true" {%- endif -%}>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Agree with ALL key points
                    </button>
                </div>
                {%- endif -%}
            </div>
            {% if comment.option %}
            <span class="alert alert-info" style="padding: 3px;display: inline-block;margin-bottom: 5px;">Option selected: {{comment.option}}</span><br>
            {% endif %}

            {% for (key, value) in comment.thumbs %}
                {%  if expired %}
                <span class="badge">{{ key }}: <span
                        class="glyphicon glyphicon-{%- if value == 1 -%}thumbs-up{%- elif value == 0 -%}question-sign{%- else -%}thumbs-down{%- endif -%}"
                        aria-hidden="true"></span></span>
                {% endif %}
            {% endfor %}
            <div class="row">
                <div class="well col-md-12"
                     style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2em;font-weight: 300; margin-bottom: 10px; margin-top: 10px;">
                    {{ comment.response|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if did_not_participate %}
    <div class="jumbotron">
        <strong>These students did not participate in the last round</strong>
        {% for name in did_not_participate %}
            <p>{{ name }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
</div>

<!-- end #pageContent -->
{#</div>#}

{%- if not expired -%}
<!-- fixed position discussion response text editor -->
<div class="container-fluid navbar-fixed-bottom" id="discussion-response">
  <div class="container">
    <div class="row">

        <form id="form" method="post" {% if not expired -%} action="/student_rounds" {%- endif -%}>
          <div class="col-md-11">
            <div id="text-editor">

                <textarea class="form-control" rows="5" id="comment"
                          placeholder="Please enter why you support or disagree with the comments..." required {% if expired -%}
                          disabled="true" {%- endif -%}>
                {%- if comment -%}
                    {{comment}}
                {%- endif -%}
                </textarea>
            </div>

            <!-- replace plain textarea with CKEditor WYSIWYG -->
            <script type="text/javascript" src="/js/students/discussion_editor_replace.js"></script>

        </div>
        <div class="col-md-1">
          <button type="submit" id="submit" class="btn btn-lg btn-success btn-success-submit" {% if expired -%} disabled="true" {%- endif
                  -%}><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                  <br />
                  Submit
          </button>
        </div>
        </form>

  </div>
</div>
</div>
{%- endif -%}
{% endblock content %}
