{% extends 'layouts/base.html' %}

{% block title %}| Feedback Form{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/students/feedback_form.js"></script>
{{ super() }}
{% endblock head %}

{% block content %}
{{ super() }}
    <div class="container" id='pageContent'>
        <div class="card">
            <div class="card-title">
                <h2>Feedback Form</h2>
            </div>
            <div class="card-body">
                <form id="feedback" method="post" action="/feedback_form">
                    <strong>Email</strong>
                    <input type="text" name="email" id="email" value="{{ email }}"/>
                    <br>
                    <strong>Tag</strong>
                    <select name="tag" id="tag" onchange='CheckTag(this.value)'>
                        <option>Please Select a Tag</option>
                        <option value="Profile">Profile</option>
                        <option value="Question Prompts">Question Prompts</option>
                        <option value="Posting Responses">Posting Responses</option>
                        <option value="Viewing Responses">Viewing Responses</option>
                        <option value="other">Other</option>
                    </select>
                    <br>
                    <input type="text" name="othertag" id="othertag" style='display:none'/>
                    <br>
                    <strong>Feedback</strong>
                    <input type="text" name="comments" id="comments"/>
                    <br>
                    <button type="submit" class="btn btn-lg btn-success btn-success-submit">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}