{% extends 'layouts/base.html' %}

{% block title %}| Feedback Form{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/students/feedback_form.js"></script>
<script type="text/javascript">
function CheckTag(val){
 var element=document.getElementById('othertag');
 if(val=='other')
   element.style.display='block';
 else
   element.style.display='none';
   element.value = "Please enter the topic of your feedback"
}</script>
{{ super() }}
<script src="/ckeditor/ckeditor.js"></script>
{% endblock head %}

{% block content %}
{{ super() }}
    <div class="container" id='pageContent'>
        <div class="card">
            <div class="card-title">
                <h2>Feedback Form</h2>
            </div>
            <div class="card-body">
                <form id="feedback" method="post" action="/feedback_form">
                    <strong>Email</strong>
                    <br>
                    <input class="form-control" type="text" name="email" id="email" value="{{ email }}"/>
                    <br>
                    <strong>Tag</strong>
                    <br>
                    <select name="tag" id="tag" onchange='CheckTag(this.value)'>
                        <option>Please Select a Tag</option>
                        <option value="Profile">Profile</option>
                        <option value="Question Prompts">Question Prompts</option>
                        <option value="Posting Responses">Posting Responses</option>
                        <option value="Viewing Responses">Viewing Responses</option>
                        <option value="other">Other</option>
                    </select>
                    <br>
                    <input class="form-control" type="text" name="othertag" id="othertag" style='display:none' value="Please enter the topic of your feedback"/>
                    <br>
                    <strong>Feedback</strong>
                    <br>
                    <input type="text" name="comments" id="comments"/>
                    <script type="text/javascript">
                        CKEDITOR.replace("comments",
                        {
                            height: 200
                        });
                    </script>
                    <br>
                    <button type="submit" class="btn btn-lg btn-success btn-success-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}