{% extends "layouts/base.html" %}
{% block title %}| Home{% endblock %}
{% block content %}

<script type="text/javascript" src="/js/students/home.js"></script>
<div class="container">
<div class="card">
    <div class="card-title">
    <h2>Welcome {{nickname}}!</h2>
    </div>
    <div class="card-body">
    <h4 class="form-signin-heading">Select a section to continue</h4>

    {% if sections %}
    <div class="list-group">
        {% for section in sections %}
        <button type="button" onclick="redirect('{{section.key}}', '{{section.group}}', '{{section.round}}')" class="list-group-item btn-block">
            {{section.course}} - {{section.name}}
        </button>
        {% endfor %}
    </div>
    {% else %}
    <p class="well">Sorry! none of the sections in which you are enrolled are active right now.</p>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}
