{% extends "layouts/base.html" %}
{% block title %}| Home{% endblock %}
{% block content %}

<script type="text/javascript" src="/js/students/home.js"></script>
<div class="container">
<div class="card">
    <div class="card-title">
    <h2>Welcome {{nickname}}!</h2>
    </div>
    <div class="card-body">
    <h5 class="form-signin-heading">Please select a section to continue.</h5>

    {% if sections and courses %}
    <div class="list-group">
        {% for course in courses %}
            <div class="card course-card">
                <div class="card-title"><h4>{{ course }}</h4></div>
                <div class="card-body">
                    <table class="table">
                    <tr>
                        <th class="col-md-6 hidden-xs">Assignment Name</th>
                        <th class="col-md-2 hidden-xs">Format</th>
                        <th class="col-md-2 hidden-xs">Current Round</th>
                        <th class="col-md-2 hidden-xs">Total Rounds</th>
                    </tr>
                    {% for section in sections %}
                        {% if section.course == course %}
                            <tr onclick="redirect('{{section.key}}', '{{section.group}}', '{{section.round}}')">
                                <td class="col-md-6 col-xs-12">{{ section.name }}</td>
                                <td class="col-md-2 hidden-xs">
                                    {% if section.rounds_based %}
                                        Rounds
                                    {% else %}
                                        Sequential Discussion
                                    {% endif %}
                                </td>
                                <td class="col-md-2 hidden-xs">
                                    {% if section.rounds_based %}
                                        {{ section.current_round }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="col-md-2 hidden-xs">
                                    {% if section.rounds_based %}
                                        {{ section.total_rounds }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
{#                        <button type="button" onclick="redirect('{{section.key}}', '{{section.group}}', '{{section.round}}')" class="list-group-item btn-block">#}
{#                            {{section.name}}#}
{#                        </button>#}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="well">Sorry! none of the sections in which you are enrolled are active right now.</p>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}
