<div class="lastRound">
    <div class="container discussion-container" id="pageContent">
        <div class="card">
            <div class="card-title">
                <h2>Round {{num_total_rounds-2}} Responses</h2>
            </div>
            <div class="card-body">
            {% for comment in comments %}
            <div class="jumbotron{%- if opinions[loop.index - 1] -%}{{" " + opinions[loop.index - 1]}}{%- endif -%}" id="jum_{{loop.index}}">
                <div class="row card-header">
                    <div class="col-md-6">
                        <h2>{% if show_name -%} {{comment.email}} {%- else -%}{{comment.alias}}{%- endif -%} {%- if alias == comment.alias -%}&nbsp;(You) {%- endif -%}</h2>
                    </div>

                    {%- if not expired -%}
                    <div class="col-md-6">
                        <button type="button" data-toggle="tooltip" title="Disagree" id="dis_{{loop.index}}" onclick="updateAlert(this)" class="pull-right btn btn-sm btn-danger" {% if
                                expired -%} disabled="true" {%- endif -%}>
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Disagree
                        </button> 

                        <button type="button" data-toggle="tooltip" title="Neutral" id="neu_{{loop.index}}" onclick="updateAlert(this)" class="pull-right btn btn-sm btn-info" {% if
                                expired -%} disabled="true" {%- endif -%}>
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Neutral
                        </button> 

                        <button type="button" data-toggle="tooltip" title="Support" id="sup_{{loop.index}}" onclick="updateAlert(this)" class="pull-right btn btn-sm btn-success" {% if
                                expired -%} disabled="true" {%- endif -%}>
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Support
                        </button>
                    </div>
                    {%- endif -%}
                </div>
                {% if comment.option %}
                <span class="alert alert-info" style="padding: 3px;display: inline-block;margin-bottom: 5px;">Option selected: {{comment.option}}</span>
                {% endif %}
                {% for opinion in comment.opinion %}
                <span class="badge"
                      style="font-weight: 100; background-color: #110F80; margin-bottom: 10px">S{{loop.index}}:
                    <span
                        class="glyphicon glyphicon-{%- if opinion == 'support' -%}thumbs-up{%- elif opinion == 'neutral' -%}hand-right{%- else -%}thumbs-down{%- endif -%}"
                        aria-hidden="true"></span>
                </span>
                {% endfor %}
                <div class="row">
                    <div class="well col-md-12"
                         style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 1.2em;font-weight: 300; margin-bottom: 10px">
                        {{comment.response|safe}}
                    </div>
                </div>
            </div>
        {% endfor %}
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <div class="card-title">
            <h2>Final Submission</h2>
        </div>
        <div class="card-body">
            {% if description %}
            <h1 class="well lead" style="font-size: 1.5em !important; text-align: left">{{description}}</h1>
            {% endif %}
    
            <div class="jumbotron">
                <p> {{question}} </p>
            </div>
            {%- if not expired -%}
            <form id="form" method="post" {% if not expired -%} action="/student_rounds" {%- endif -%}>
            <div class="list-group">
                {% for option in options %}
                <input type="radio" name="optionsRadios" id="option{{loop.index}}" value="option{{loop.index}}" {% if expired -%} disabled="true" {%- endif -%}>
                <label class="radio list-group-item" for="option{{loop.index}}">
                    {{option}}
                </label>
                {% endfor %}
            </div>

            <h3>Final Response</h3>
            <textarea class="form-control" rows="3" id="comment" placeholder="
            {%- if last_round -%}
            Please enter your final answer.
            {%- else -%}
            Please enter why your support this option ...
            {%- endif -%}" required {% if expired -%} disabled="true" {%- endif -%}>
            {%- if comment -%}{{comment}}{%- endif -%}
            </textarea>

            <h3>Activity Summary</h3>
            <textarea class="form-control" rows="10" id="summary" name="summary" placeholder="Please enter your summary for this activity ..." required {% if expired -%} disabled="true" {%- endif %}>
            {%- if summary -%}{{summary}}{%- endif -%}
            </textarea>
            
            <button type="submit" class="btn btn-lg btn-success sub-btn" {% if expired -%} disabled="true" {%- endif -%}>
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit
            </button>
            <!-- replace plain textarea with CKEditor WYSIWYG -->
            <script>
                CKEDITOR.replace("comment", 
                    {
                        height: 200
                    });
                CKEDITOR.replace("summary", 
                    {
                        height: 200
                    });
             </script> 

            </form>
            {%- endif -%}
        </div>
    </div>
</div>

