{% extends 'layouts/base.html' %}

{% block title %}| Profile{% endblock %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
{{ super() }}
    <div class="container" id='pageContent'>
        <div class="card">
            <div class="card-title">
                <h2>Profile</h2>
            </div>
            <div class="card-body">
                <strong>Login ID</strong>
                <input type="text" class="form-control" disabled placeholder="{{ nickname }}">
                <strong>First Name</strong>
                <input type="text" class="form-control">
                <strong>Last Name</strong>
                <input type="text" class="form-control">
                <strong>Preferred Email Address</strong>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
{% endblock %}