{% extends "layouts/student_base.html" %}

{% block title %}| Rounds{% endblock %}

{% block head %}
{{ super() }}
<script src="/ckeditor/ckeditor.js"></script>
{% endblock head %}

{% block content %}
{{ super() }}

{% if last_round %}
    {% include "students/last_round.html" %}
{% else %}
    {% include "students/first_round.html" %}
{% endif %}


{% endblock content %}


{% block javascript %}
{{ super() }}
  <script type="text/javascript">
    {% include "/js/students/round.js" %}
  </script>

{% endblock %}}
