{% extends "layouts/student_base.html" %}

{% block title %}| Rounds{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta id="student-round" data-option="{{option}}" data-expired="{{expired}}" data-last = "{{last_round}}" data-sectionKey = "{{sectionKey}}">
<script type="text/javascript" src="/js/students/round.js"></script>
{{ super() }}
<script src="/ckeditor/ckeditor.js"></script>
{% endblock head %}

{% block content %}
{{ super() }}

{% if last_round %}
    {% include "students/last_round.html" %}
{% else %}
    {% include "students/first_round.html" %}
{% endif %}

{% endblock content %}
