body {
	background-color: rgb(240,240,240);
	font-family: 'Lato', sans-serif;
}

input {
	border-radius: 0px !important;
	background: rgba(200,200,255,0.5) !important;

	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1))) !important;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 ) !important;
}

select {
	border-radius: 0px !important;
}

.sidebar {
	background-color: transparent !important;
	border-width: 0px !important; 
}

.btn {
  color: #ffffff !important;
  font-size: 13px !important;
  background: rgb(170,170,170); !important;
  padding: 6px 10px 6px 10px !important;
  text-decoration: none !important;
  border: 1px solid black;
  border-radius: 0px !important;
}

.btn:hover {
  background: #59A766 !important;
  text-decoration: none !important;
  border-radius: 0px !important;
}


.sidebar-link a{
	color: gray !important;
	font-weight: bold;
}

.sidebar-link a:hover {
	color: gray !important;
	background-color: rgba(50,34,213,0.2) !important;
}

.sidebar-link a:visited {
	color: gray !important;
}

.page-header {
	color: rgb(100,50,50);
}

h1 {
	color: #9E0008 !important;
}

p {
	color: #803815;
}



.card {
	-webkit-box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);
	-moz-box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);
	box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);

	border-radius: 3px !important;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;

	background-color: rgb(254,254,254);

	padding: 0px !important;
	margin: 20px 0px !important;

	overflow: auto;


}

.card-title {
	padding: 1px 15px !important;
	background-color: #0B0B71;
	color: white !important;
}


.card-body {
	padding: 10px 15px !important;
}

a:link, a:visited {
   color: #2A4D6E;
   
   text-decoration: none;
   target-new: none;
}

a:hover {
   color: #267257 !important;
   
   target-new: none;
}

.navbar a:link, a:visited{
	color: white !important;
}

.navbar {
	
	background-color: rgba(40,40,40,0.95);
	/*background-color: #4A6B8A;*/

	-webkit-box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);
	-moz-box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);
	box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);

}