body {
    background-color: rgb(240, 240, 240);
    font-family: 'Lato', sans-serif;
    padding-top: 70px;
}

/* FORM INPUT STYLING */

input, textarea, select {
    border-radius: 0px !important;
    background: rgba(255, 255, 255, 1) !important;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(247, 247, 247, 1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(247, 247, 247, 1))) !important;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(247, 247, 247, 1) 100%) !important;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(247, 247, 247, 1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(247, 247, 247, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(247, 247, 247, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0) !important;
}

/* BUTTON STYLING */

.btn {
    color: #ffffff !important;
    font-size: 13px !important;
    background: rgb(170, 170, 170) !important;
    padding: 6px 10px 6px 10px !important;
    text-decoration: none !important;
    border: 1px solid black;
    border-radius: 0px !important;
}

.btn:hover {
    text-decoration: none !important;
    border-radius: 0px !important;
}

.btn-success:hover {
    background: #59A766 !important;
    border-radius: 4px !important;
}

.btn-danger:hover {
    background: #c9302c !important;
}

.btn-info:hover {
    background: #31b0d5 !important;
}

.btn-success-submit {
    border-radius: 4px !important;
    height: 100% !important;
}
/* INTRUCTOR NAVIGATION SIDE BAR */

.sidebar {
    background-color: transparent !important;
    border-width: 0px !important;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.sidebar-link a {
    color: gray !important;
    font-weight: bold;
}

.sidebar-link a:hover {
    color: gray !important;
    background-color: rgba(251, 0, 13, 0.25) !important;
}

.sidebar-link a:visited {
    color: gray !important;
}

.sidebar .divider {
    height: 3px;
}

/* CUSTOM FONT STYLING */

.page-header {
    color: rgb(100, 50, 50);
}

h1 {
    color: #9E0008 !important;
}

/* CARD STYLING */

.card {
    -webkit-box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);
    -moz-box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);
    box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);
    border-radius: 3px !important;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    background-color: rgb(254, 254, 254);
    padding: 0px !important;
    margin: 20px 0px !important;
}

.card-title {
    padding: 1px 15px !important;
    background-color: #0B0B71;
    color: white !important;
    border-radius: 3px 3px 0px 0px;
}

.card-body {
    padding: 10px 15px !important;
}

/* CUSTOM LINK STYLING */

a:link, a:visited {
    color: #2A4D6E;

    text-decoration: none;
    target-new: none;
}

a:hover {
    color: #267257 !important;

    target-new: none;
}

/* NAVBAR STYLING */

.navbar a:link, a:visited {
    color: white !important;
}

.navbar {
    background-color: rgba(40, 40, 40, 0.95);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);
    -moz-box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);
    box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);

}

.nav-hover:hover {
    background-color: black !important;
}

.nav-active {
    background-color: rgba(251, 0, 13, 0.6) !important;
}

/* CURRENT ROUND HIGLIGHTING */

.row-highlight {
    background-color: rgba(167, 240, 44, 0.15) !important;
}

/* CUSTOM MODAL STYLE */

.modal-content {
    border-radius: 3px !important;
}

.jumbotron p,
.well,
.well li {
    font-size: 13px;
}

.well h1,
.well h2,
.well h3 {
    margin-top: 0.5em;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-header button {
    margin: 0 5px;
}

.round-viewing {
    border: 1px solid #bb0000;
}

/* From discussion.css */
.support {
    background-color: rgb(203, 255, 186);
}

.neutral {
    background-color: rgb(186, 237, 255);
}

.disagree {
    background-color: rgb(255, 186, 186);
}

.list-group input[type="radio"] {
    display: none;
}

.list-group input[type="radio"]:checked + label {
    background: #BCBAF2;
}

.list-group-item {
    margin: 15px auto;
    padding: 15px;
    background: rgba(246, 246, 246, 100);
}

.sub-btn {
    margin: 10px auto;
}

.discussion-container {
    margin-bottom: 260px;
}

.lastRound .discussion-container {
    margin-bottom: 10px;
}

#discussion-response {
    border-top: 1px #101010 solid;
    background: #333;
    padding: 5px;
    display: block;
    box-shadow: 1px 5px 5px 0px rgba(119, 119, 119, 0.54);
}

#text-editor {
    display: block;
    height: 220px;
}

/*From Overrides.css*/
.special-alert {
    display: none;
}

/*From admin.css*/

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}

.alert {
    margin-top: 10px;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*My own new additions*/
.thumbnail {
    padding-left: 15px;
    padding-right: 15px;
}

/* Badge styling for thumbs up */
.badge {
    font-weight: 100;
    background-color: #110F80;
    margin-bottom: 10px;
}
