body {
    padding-top: 70px;
}

h1 {
    text-align: center;
    background-color: white !important;
    font-size: 2em !important;
}

form {
    text-align: center;
}

#submit {
    margin: 10px;
}

.row {
/*    text-align: center;
*/}

.alert {
    margin-left: 15px;
    margin-right: 15px;
}

.jumbotron {
    padding: 10px 10px 20px;
}

.support {
    background-color: rgb(203, 255, 186);
}

.neutral {
    background-color: rgb(186, 237, 255);
}

.disagree {
    background-color: rgb(255, 186, 186);
}

.list-group input[type="radio"] {
    display: none;
}

.list-group input[type="radio"]:checked + label {
    background: #BCBAF2;
}

.list-group-item {
    margin: 15px auto;
    padding: 15px;
    background: rgba(246, 246, 246, 100);
}

.sub-btn {
    margin: 10px auto;
}

.discussion-container {
    margin-bottom: 260px;
}

.lastRound .discussion-container {
    margin-bottom: 10px;
}

#discussion-response {
    border-top: 1px #101010 solid;
    background: #333;
    padding: 5px;
    display: block;
    box-shadow: 1px 5px 5px 0px rgba(119,119,119,0.54);
    height: 230px;
}

#text-editor {
    display: block;
    float: left;
    height: 220px;
}

#submit {
    margin: 0;
    display: block;
    float: right;
    height: 220px;
    width: 80px;
    overflow: hidden;
}

@media (min-width: 768px) {
    #text-editor {
        width: 630px;
    }

}
@media (min-width: 992px) {
    #text-editor {
        width: 850px;
    }
}
@media (min-width: 1200px) {
    #text-editor {
        width: 1050px;
    }
}