body {
  padding-top: 70px;
}

h1 {
	text-align: center;
	background-color: white !important;
	font-size: 2em !important;
}

form {
	text-align: center;
}

#submit {
	margin: 10px;
}

.row {
	text-align: center;
}

.jumbotron {
    padding: 10px 10px 20px;
}

.support {
	background-color: rgb(203, 255, 186);
}

.neutral {
	background-color: rgb(186, 237, 255);
}

.disagree {
	background-color: rgb(255, 186, 186);
}