<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consider {% block title %}{% endblock title %}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dots.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom-style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock head %}
</head>
<body>
<div id="spinner" class="dots">
    Loading...
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: palegoldenrod" href="/">CONSIDER</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
            <ul class="nav navbar-nav navbar-left hidden-big">
                {% block topnavbar %}{% endblock topnavbar %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-link" href="{{documentation}}"><span class="glyphicon glyphicon-book"></span> Documentation</a></li>
            {% if loginpage %}
                <li><a href="{{loginurl}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
                <li><a href="{{logouturl}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        {% if show_sidenavbar %}
        <div class="col-sm-3 col-md-2 sidebar">
            {% block sidenavbar %}{% endblock sidenavbar %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% else %}
            <div class="main">
                {% endif %}
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootbox.min.js"></script>
<script type="text/javascript" src="/js/layouts/base.js" ></script>
{% block script %}{% endblock script %}
</body>
</html>
