{% extends "layouts/base.html" %}

{% set show_sidenavbar = True %}

{% block sidenavbar %}
<ul class="nav nav-sidebar">
    <li class="sidebar-link"><a href="/home">COURSES</a></li>
    <li class="sidebar-link"><a href="/students">STUDENTS</a></li>
    <li role="separator" class="divider"></li>
    <li class="sidebar-link"><a href="/rounds">ROUNDS</a></li>
    <li class="sidebar-link"><a href="/groups">GROUPS</a></li>
    <li role="separator" class="divider"></li>
{#    <li class="sidebar-link"><a href="/responses">RESPONSES</a></li>#}
    <li class="sidebar-link"><a href="/group_responses">GROUP RESPONSES</a></li>
    <li class="sidebar-link"><a href="/show_responses">SHOW RESPONSES</a></li>
</ul>
{% endblock sidenavbar %}
{#FIXME: Sidebar overlaps with content on small screens#}
