{% extends "layouts/base.html" %}

{% block head %}
{{ super() }}
<link href="/css/admin.css" rel="stylesheet">
<link href="/css/overrides.css" rel="stylesheet">
{% endblock head %}

{% set show_sidenavbar = True %}

{% block topnavbar %}
<li><a href="/home">COURSES</a></li>
<li><a href="/students">STUDENTS</a></li>
<li><a href="/rounds">ROUNDS</a></li>
<li><a href="/groups">GROUPS</a></li>
<li><a href="/responses">RESPONSES</a></li>
<li><a href="/group_responses">GROUP RESPONSES</a></li>
<li><a href="/show_responses">SHOW RESPONSES</a></li>
{% endblock topnavbar %}

{#
{% block sidenavbar %}
<ul class="nav nav-sidebar">
    <li><a href="/home">COURSES</a></li>
    <li><a href="/students">STUDENTS</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/rounds">ROUNDS</a></li>
    <li><a href="/groups">GROUPS</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="/responses">RESPONSES</a></li>
    <li><a href="/group_responses">GROUP RESPONSES</a></li>
</ul>
{% endblock sidenavbar %}
#}


{% block sidenavbar %}
<ul class="nav nav-sidebar">
    <li class="sidebar-link"><a href="/home">COURSES</a></li>
    <li class="sidebar-link"><a href="/students">STUDENTS</a></li>
    <li role="separator" class="divider" style="height: 3px;"></li>
    <li class="sidebar-link"><a href="/rounds">ROUNDS</a></li>
    <li class="sidebar-link"><a href="/groups">GROUPS</a></li>
    <li role="separator" class="divider" style="height: 3px;"></li>
    <li class="sidebar-link"><a href="/responses">RESPONSES</a></li>
    <li class="sidebar-link"><a href="/group_responses">GROUP RESPONSES</a></li>
    <li class="sidebar-link"><a href="/show_responses">SHOW RESPONSES</a></li>
</ul>
{% endblock sidenavbar %}
