{% extends "layouts/base.html" %}

{% block head %}
{{super()}}
{% endblock %}

{% set show_sidenavbar = False %}

{% block topnavbar %}
{{ super() }}
{% for i in range(0,rounds) %}
<li class={{"nav-active" if curr_page == i+1 else "nav-hover"}}>
    <a href="/student_rounds?section={{sectionKey}}&round={{i+1}}">{% if i==0 %}Initial Submission {% elif i==num_total_rounds-1 %}Final Submission {% else %}Round {{i}}{% endif %}</a>
</li>
{% endfor %}
{% endblock topnavbar %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="count-container" class="alert alert-warning">
            <p>
                {% if expired -%} Time is over {%- else -%} Time left to complete: <span id="clock"> </span> {%-
                endif -%}
            </p>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% if not expired -%}
<script src="/js/jquery.countdown.min.js"></script>
<script>
    $('#clock').countdown("{{ deadline }}", function (event) {
        $(this).html(event.strftime('%D days %H:%M:%S'));
    });
</script>
{% endif %}
{% endblock script %}