{% extends "layouts/base.html" %}

{% block head %}
{{super()}}
{% endblock %}

{% set show_sidenavbar = False %}

{% block topnavbar %}
{{ super() }}
{% for i in range(0,rounds) %}
<li class="{% if curr_page == i+1 %}nav-active round-viewing{% else %}nav-hover{% endif %}">
<a href="/student_rounds?section={{sectionKey}}&round={{i+1}}" data-round="{{i+1}}" class="nav_reload">{{ round_names[i] }}</a>
</li>
{% endfor %}
{% endblock topnavbar %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="count-container" class="alert alert-warning">
            <p>
                {% if expired -%} Time is over {%- else -%} Time left to complete current round: <span id="clock"> </span> {%-
                endif -%}
            </p>
        </div>
    </div>
</div>
{% endblock content %}




{% block script %}
<meta id="reload" data-currentPage = "{{ curr_page }}" data-sectionkey = "{{sectionKey}}">
<script type="text/javascript" src="/js/layouts/student_base_dynamic_reload.js"></script>
{% if not expired -%}
<script src="/js/jquery.countdown.min.js"></script>
<meta id="countdown" data-countdown = "{{ deadline |local_time}}">
<script type="text/javascript" src="/js/layouts/student_base_countdown.js"></script>
{% endif %}
{% endblock script %}
