{% extends "student_base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="well">
    <h2>Welcome {{nickname}}!</h2>

    <h4 class="form-signin-heading">Please select a section to continue:</h4>

    {% if sections %}
    <div class="list-group">
        {% for section in sections %}
        <button type="button" onclick="redirect('{{section.key}}')" class="list-group-item btn-block">{{section.course}}
            - {{section.name}}
        </button>
        {% endfor %}
    </div>
    {% else %}
    <p class="well">Sorry! none of the sections in which you are enrolled are active right now.</p>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    function redirect(key) {
        location.href = '/section?section=' + key;
    }
</script>
{% endblock %}