{% extends "layouts/instructor_base.html" %}
{% block title %} | Groups {% endblock %}

{% block content %}
<h1 class="page-header">Groups</h1>

<div class="card">
<div class="card-title">
<h4 class="form-signin-heading">Please select a Course and Section below:</h4>
</div>
<div class="card-body">
<div class="row">
    <div class="col-md-6">
        <h4>Course</h4>
        {% if courses %}
        <select id="courseSelector" class="form-control">
            {% for course in courses %}
            <option {% if selectedCourse== course.name %}selected="selected" {% endif %}>{{course.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        Please add a course to add Students
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Section</h4>
        {% if sections %}
        <select id="sectionSelector" class="form-control">
            {% for section in sections %}
            <option {% if selectedSection== section.name %}selected="selected" {% endif %}>{{section.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        {% if courses %}
        There are no sections in this Course
        {% else %}
        Please select a course to see sections
        {% endif %}
        {% endif %}
    </div>
</div>
</div>
</div>

<h4 class="sub-header">Total groups: {% if group -%} {{group}} {% else -%} 0{%- endif -%}</h4>
  <form class="form-horizontal" id="form" method="post" style="text-align: center;">
    <div class="form-group">
      <label for="inputGroups" class="lead col-sm-4 control-label">Modify total number of groups:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="inputGroups" min="1" placeholder="Total number of groups" name="groups" required="true" autofocus>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">Modify</button>
      </div>
    </div>
  </form>

<div class="card">
<div class="card-title">
<h4>Following are the responses from students of {{selectedSection}}:</h4>
</div>
<div class="card-body">
<div class="table-responsive">
  <form id="form_table" method="post" action="/groups">
    <table class="table table-striped" id="group_table">
      <thead>
        {%- if responses -%}
        <tr>
          <th>#</th>
          <th>Student</th>
          <th>Option</th>
          <th>Comment</th>
          <th>Group</th>
          <th>Modify Group</th>
        </tr>
        {%- endif -%}
      </thead>
      <tbody>
        {% for response in responses %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{response.student}}</td>
            <td>{{response.option}}</td>
            <td>{{response.comment|safe}}</td>
            <td>{%- if response.group|int != 0 -%} {{response.group}} {%- else -%} NA {%- endif -%}</td>
            <td>{%- if group -%} <select class="form-control" name="select_{{loop.index}}" id="select_{{loop.index}}">
                                  {% for i in range(0, group) %}
                                  <option {% if response.group|int == i+1 -%} selected="selected" {%- endif -%} >{{i+1}}</option>
                                  {% endfor %}
                                 </select>
            {%- else -%}No Groups{%- endif -%}</td>
          </tr>
        {% else %}
          No responses submitted yet.
        {% endfor %}
      </tbody>
    </table>
      {% if responses -%}
        <div class="form-group" style="text-align:center;">
            <button type="submit" class="btn btn-primary">Save Configuration</button>
        </div>
      {%- endif -%}
  </form>
</div>
</div>
</div>
<div class="card">
<div class="card-title">
<h4>Following are the students without initial answers for {{selectedSection}}:</h4>
</div>
<div class="card-body">
<div class="table-responsive">
  <form id="form_table2" method="post" action="/groups">
    <table class="table table-striped" id="group_table2">

      <thead>
        {%- if no_answer_students -%}
        <tr>
          <th>#</th>
          <th>Student</th>
          <th>Option</th>
          <th>Comment</th>
          <th>Group</th>
          <th>Modify Group</th>
        </tr>
        {%- endif -%}
      </thead>
      <tbody>
        {% for student in no_answer_students %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{student.email}}</td>
            <td>NA</td>
            <td>NA</td>
            <td>{%- if student.group|int != 0 -%} {{student.group}} {%- else -%} NA {%- endif -%}</td>
            <td>{%- if group -%} <select class="form-control" name="select2_{{loop.index}}" id="select2_{{loop.index}}">
                                  {% for i in range(0, group) %}
                                  <option {% if student.group|int == i+1 -%} selected="selected" {%- endif -%} >{{i+1}}</option>
                                  {% endfor %}
                                 </select>
            {%- else -%}No Groups{%- endif -%}</td>
          </tr>
        {% else %}
          All the students have answered the initial question.
        {% endfor %}
      </tbody>
    </table>


      {% if no_answer_students -%}
        <div class="form-group" style="text-align:center;">
            <button type="submit" class="btn btn-primary">Save Configuration</button>
        </div>
      {%- endif -%}
  </form>
</div>
</div>
</div>
{% endblock %}


{% block script %}
  <meta id="groups" data-course="{{selectedCourse}}" data-section="{{selectedSection}}">
  <script type="text/javascript" src="/js/instructor/groups.js"></script>
{% endblock %}
