{% extends "layouts/instructor_base.html" %}
{% block title %} | Responses {% endblock %}

{% block content %}
<h1 class="page-header">Groups Responses</h1>
<div class="card">
<div class="card-title">
<h4 class="form-signin-heading">Please select a Course and Section below:</h4>
</div>
<div class="card-body">
<div class="row">
    <div class="col-md-6">
        <h4>Course</h4>
        {% if courses %}
        <select id="courseSelector" class="form-control">
            {% for course in courses %}
            <option {% if selectedCourse== course.name %}selected="selected" {% endif %}>{{course.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        Please add a course to add Students
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Section</h4>
        {% if sections %}
        <select id="sectionSelector" class="form-control">
            {% for section in sections %}
            <option {% if selectedSection== section.name %}selected="selected" {% endif %}>{{section.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        {% if courses %}
        There are no sections in this Course
        {% else %}
        Please select a course to see sections
        {% endif %}
        {% endif %}
    </div>
</div>
</div>
</div>
{% if round and groups %}
<div class="card">
<div class="card-title">
<h4>Group Responses from {{selectedSection}}</h4>
</div>
<div class="card-body">
<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% for g in range(1,groups+1) %}
        <li role="presentation" class="dropdown {% if loop.first -%}active{%- endif -%}">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Group
                {{g}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% for r in range(1,round+1) %}
                <li class="tab-dropdown"><a href="#group_{{g}}_{{r}}" aria-controls="group_{{g}}_{{r}}" role="tab" data-toggle="tab">Round
                    {{r}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% for g in range(1, groups+1) %}
        {% set outloop = loop %}
        {% for r in range(1, round+1) %}
        <div role="tabpanel" class="tab-pane fade {% if outloop.first and loop.first -%}in active{%- endif -%}"
             id="group_{{g}}_{{r}}">
            <table class="table table-striped" id="table_{{loop.index}}">
                {% if responses['group_'+g|string+'_'+r|string] %}
                <thead>
                <tr>
                    <th>Alias</th>
                    <th>Student</th>
                    <th>Option</th>
                    <th>Comment</th>
                    <th>Response</th>
                    <th>Summary</th>
                </tr>
                </thead>
                <tbody>
                {% for response in responses['group_'+g|string+'_'+r|string] %}
                <tr>
                    <td>{{response.alias}}</td>
                    <td>{{response.student}}</td>
                    <td>{{response.option}}</td>
                    <td>{{response.comment|safe}}</td>
                    <td>
                        {%- for resp in response.response -%}
                        S{{loop.index}}: {{resp}}
                        {% else -%}
                        NA
                        {%- endfor -%}
                    </td>
                    <td>{{response.summary}}</td>
                </tr>
                {% else %}
                No responses submitted yet.
                {% endfor %}
                </tbody>
                {% else %}
                <br>No responses yet.
                {% endif %}
            </table>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% else %}
<h5 class="sub-header" style="margin-top: 20px;">No groups exists for this section.</h5>
{% endif %}
</div>
</div>
{% endblock %}
  <meta id="group-responses-selectors" data-course="{{selectedCourse}}">
  <script type="text/javascript" src="/js/instructor/groups_responses_selectors.js"></script>
{% block script %}
{% endblock %}
