<!-- 
    
- Author(s): Capstone team AU16

Refer to comments within /src/controller/grader/init.py for a better
understanding of the code for graders. 

-->




{% extends "layouts/instructor_base.html" %}
{% block title %} | Students{% endblock %}

{% block content %}
<h1 class="page-header">Students</h1>

<div class="card">
<div class="card-title">
<h4 class="form-signin-heading">Please select a Course and Section below</h4>
</div>
<div class="card-body">
<div class="row">
    <div class="col-md-6">
        <h4>Course</h4>
        {% if courses %}
        <select id="courseSelector" class="form-control">
            {% for course in courses %}
            <option {% if selectedCourse== course.name %}selected="selected" {% endif %}>{{course.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        Please add a course to add Students
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Section</h4>
        {% if sections %}
        <select id="sectionSelector" class="form-control">
            {% for section in sections %}
            <option {% if selectedSection== section.name %}selected="selected" {% endif %}>{{section.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        {% if courses %}
        There are no sections in this Course
        {% else %}
        Please select a course to see sections
        {% endif %}
        {% endif %}
    </div>
</div>
</div>
</div>
<button type="button" class="btn btn-default" onclick="addStudents()" style="margin-top: 20px; margin-bottom: 20px"
        aria-label="Add Students">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Students
</button>
<button type="button" class="btn btn-default" onclick="addGraders()" style="margin-top: 20px; margin-bottom: 20px"
        aria-label="Add Graders">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Graders
</button>
{% if sections %}
{% if students %}

<div class="card">
<div class="card-title">
<h4>Students already enrolled {% if selectedCourse and selectedSection -%} in Section
    {{selectedSection}} of Course {{selectedCourse}} {%- endif %} {% if students -%}
    ({{students|length}}) {%- endif -%}</h4>
</div>
<div class="card-body">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{student.email}}</td>
            <td>
                <button class="btn btn-danger btn-sm" onclick="deleteStudent('{{student.email}}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endif %}
{% endif %}

{% if sections %}
{% if graders %}

<div class="card">
<div class="card-title">
<h4>Graders already enrolled {% if selectedCourse and selectedSection -%} in Section
    {{selectedSection}} of Course {{selectedCourse}} {%- endif %} {% if graders -%}
    ({{graders|length}}) {%- endif -%}</h4>
</div>
<div class="card-body">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for grader in graders %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{grader.email}}</td>
            <td>
                <button class="btn btn-danger btn-sm" onclick="deleteGrader('{{grader.email}}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endif %}
{% endif %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Students for {{selectedSection}} of
                    {{selectedCourse}}</h4>
            </div>
            <div class="modal-body">
                <h5>Add emails of students separated by commas, spaces, or newlines:</h5>

                <form class="form-horizontal" id="modalForm" method="post" style="margin-top: 20px;text-align: center;"
                      action="/students">
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email(s)</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email(s)" name="email"
                                   required="true">
                        </div>
                    </div>
                    <button type="submit" class="hide"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitStudents()">Add Students</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModalGrader" tabindex="-1" role="dialog" aria-labelledby="myModalLabelGrader" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelGrader">Add Graders for {{selectedSection}} of
                    {{selectedCourse}}</h4>
            </div>
            <div class="modal-body">
                <h5>Add emails of graders separated by commas:</h5>

                <form class="form-horizontal" id="modalFormGrader" method="post" style="margin-top: 20px;text-align: center;"
                      action="/graders">
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email(s)</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Email(s)" name="email"
                                   required="true">
                        </div>
                    </div>
                    <button type="submit" class="hide"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitGraders()">Add Graders</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <meta id="list-students" data-course="{{selectedCourse}}" data-section="{{selectedSection}}">
  <script type="text/javascript" src="/js/instructor/list_students.js" ></script>

{% endblock %}
