{% extends "layouts/instructor_base.html" %}
{% block title %} | Responses {% endblock %}

{% block content %}
<h1 class="page-header">Show Responses</h1>
<div class="card">
<div class="card-title">
<h4 class="form-signin-heading">Please select a Course and Section below:</h4>
</div>
<div class="card-body">
<div class="row">
    <div class="col-md-6">
        <h4>Course</h4>
        {% if courses %}
        <select id="courseSelector" class="form-control">
            {% for course in courses %}
            <option {% if selectedCourse== course.name %}selected="selected" {% endif %}>{{course.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        Please add a course to add Students
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>Section</h4>
        {% if sections %}
        <select id="sectionSelector" class="form-control">
            {% for section in sections %}
            <option {% if selectedSection== section.name %}selected="selected" {% endif %}>{{section.name}}</option>
            {% endfor %}
        </select>
        {% else %}
        {% if courses %}
        There are no sections in this Course
        {% else %}
        Please select a course to see sections
        {% endif %}
        {% endif %}
    </div>
</div>
</div>
</div>
 {% if rounds and students %}
<div class="card">
<div class="card-title">
<h4>Please select students and export data:</h4>
</div>
<div class="card-body">
<div class="table-responsive">
    <table class="table table-striped" id="group_table">
      <thead>
        <tr>
          <meta id="show-responses" data-students="{{students}}" data-rounds="{{rounds}}" data-std="{{num_std}}">
          <th>Student <button style="margin-left:30px" onclick="SelectAll()"> Select</button> </th>
          <th>Group</th>
            {% for r in range(rounds) %}
          <td><button  onclick="ColChecked('{{loop.index}}')"> Round-{{loop.index}} </button></td>
            {% endfor %}
        </tr>
      </thead>
      <tbody id="group_1">
        {% for student in students %}
          <tr>
            <td><button style="height:30px;width:180px" onclick="RowChecked('{{ student.email }}','{{ rounds }}')">{{student.email}}</button></td>
            <td>{{student.group}}</td>
              {% for r in range(rounds) %}
            <td><input type="checkbox" style="margin-left:30px" id={{ student.email~loop.index }}></td>
                  {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="form-group" style="text-align:center;">

        <button class="label label-success" style="margin-right:60px;width:100px;height:35px;font-size:15px"
                onclick="exportHtml('{{ selectedCourse }}','{{ selectedSection }}')">
            HTML
        </button>

        <button class="label label-success" style="width:100px;height:35px;font-size:15px"
                onclick="exportData('{{ selectedCourse }}','{{ selectedSection }}')">
            FILE
        </button>
    </div>
</div>
{% else %}
<h5 class="sub-header" style="margin-top: 20px;">No results to be exported.</h5>
{% endif %}
</div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="/js/instructor/show_responses.js"></script>
{% endblock %}
