{% extends "layouts/instructor_base.html" %}
{% block title %} | Responses {% endblock %}
{% block content %}
    {% for student in students %}
        <div class="card">
            <div class="card-title">
                <h2>({{ loop.index }}) &nbsp;
                    Student: {{ student.email }} &nbsp;
                    Alias: {{ student.alias }} &nbsp;
                    Group: {{ student.group }} &nbsp;</h2>
            </div> <!-- ./card-title -->
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        {% for r in seq_rounds[student.email] %}
                            <th>Round-{{ r }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for opt in option[student.email] %}
                            <td>
                                {%- if opt and opt!='NA' -%}
                                    <strong>Option: </strong>{{ opt|safe }}
                                {%- endif -%}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for comment in comments[student.email] %}
                            <td>
                                {%- if comment and comment!='NA' -%}
                                    <strong>Comment: </strong>{{ comment|safe }}
                                    {% else %}
                                    <em>Not submitted.</em>
                                {%- endif -%}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for response in responses[student.email] %}
                            <td>
                                {%- if response and response!='NA' -%}
                                    <strong>Response: </strong>{{ response|safe }}
                                {%- endif -%}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for smy in summary[student.email] %}
                            <td>
                                {%- if smy and smy!='NA' -%}
                                    <strong>Summary: </strong>{{ smy }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div> <!-- ./card-body -->
        </div> <!-- ./card -->
    {% endfor %}
{% endblock %}

{#TODO Make this responsive#}
{#TODO Better styling#}